<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Spring Secured REST Sample</display-name>
 
 <!-- Filter is declared to enable Spring Security to intercept the HTTP request for an authentication and authorization check.
 -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
 
 <!-- Because we want to secure only RESTful-WS, the filter is applied only to the URL pattern /restful/* 
  -->
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/restful/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

<!-- 
A servlet named restful is declared, which is of type DispatcherServlet
In Spring MVC, each DispatchServlet will have its own WebApplicationContext. WebApplicationContext for this
DispatcherServlet should be loaded from rest-context.xml.
However, all service-layer beans defined in the root-context.xml file, which is called the root WebApplicationContext, will be
available for each servlet’s own WebApplicationContext too.
 -->
    <servlet>
        <servlet-name>restful</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/rest-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

<!-- 
The <servlet-mapping> tag instructs the web container (for example, Tomcat) that all URLs under the pattern
/restful/* (for example, http://localhost:8080/ch12/restful/contact) will be handled by the restful servlet.
 -->
    <servlet-mapping>
        <servlet-name>restful</servlet-name>
        <url-pattern>/restful/*</url-pattern>
    </servlet-mapping>
</web-app>