<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profiles and Fractions</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>

	<form method="post" enctype="multipart/form-data" action="/profileUpload">
		<p>
			Please specify a file for profiles:<br></br> <input type="file" name="datafile"
				size="40"></input>
		</p>
		<div>
			<input type="submit" value="Send"></input>
		</div>
	</form>

	<div th:if="${profileMessage}">
		<ul th:each="profileMessage : ${profileMessage}">
			<li><span th:text="${profileMessage}"></span></li>
		</ul>
	</div>

	<form method="post" enctype="multipart/form-data" action="/meterUpload">
		<p>
			Please specify a file for meter readings:<br></br> <input type="file" name="datafile"
				size="40"></input>
		</p>
		<div>
			<input type="submit" value="Send"></input>
		</div>
	</form>
	
	<div th:if="${meterReadingMessage}">
		<ul th:each="meterReadingMessage : ${meterReadingMessage}">
			<li><span th:text="${meterReadingMessage}"></span></li>
		</ul>
	</div>
	
</body>
</html>
