<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profiles and Fractions</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>

	<form method="post" enctype="multipart/form-data" action="/profileUpload">
		<p>
			Please specify a file for profiles:<br></br> <input type="file" name="datafile"
				size="40"></input>
		</p>
		<div>
			<input type="submit" value="Send"></input>
		</div>
		
		<div th:if="${profileMessage}">
			<p>
				Result:<br></br> 
			</p>
			<ul th:each="profileMessage : ${profileMessage}">
				<li><span th:text="${profileMessage}"></span></li>
			</ul>
		</div>
	</form>

	<form method="post" enctype="multipart/form-data" action="/meterUpload">
		<p>
			Please specify a file for meter readings:<br></br> <input type="file" name="datafile"
				size="40"></input>
		</p>
		<div>
			<input type="submit" value="Send"></input>
		</div>
		
		<div th:if="${meterReadingMessage}">
			<p>
				Result:<br></br> 
			</p>
			<ul th:each="meterReadingMessage : ${meterReadingMessage}">
				<li><span th:text="${meterReadingMessage}"></span></li>
			</ul>
		</div>
	</form>
	
	<div th:if="${profilesInDB}">
		<p>
			The profiles in database:<br></br> 
		</p>
		<ul th:each="profilesInDB : ${profilesInDB}">
			<li><span th:text="${profilesInDB}"></span></li>
		</ul>
	</div>
	
	<div th:if="${metersInDB}">
		<p>
			The meter readings in database:<br></br> 
		</p>
		<ul th:each="metersInDB : ${metersInDB}">
			<li><span th:text="${metersInDB}"></span></li>
		</ul>
	</div>
</body>
</html>
